---
layout: en/default
---

      <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">News
                    <small>CoderBot project news</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">CoderBot</a>
                    </li>
                    <li class="active">News</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-12">

   				{% for post in site.posts %}
   				{% if post.language == 'en' and post.category == 'blog' %}
                <!-- First Blog Post -->
                <h2>
                    <a href="{{ post.url | prepend: site.baseurl }}"">{{ post.title }}</a>
                </h2>
                <p><i class="fa fa-clock-o"></i> Published on {{ post.date | date: "%d/%m/%Y" }} by {{ post.author }}</p>
				{% if post.splash %}
                <hr>
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img class="img-responsive img-hover" src="{{site.baseurl}}/img/{{post.splash}}" alt="">
                </a>
                {%endif%}
                <hr>
                <p>{{post.excerpt}}</p>
                <a class="btn btn-primary" href="{{ post.url | prepend: site.baseurl }}">Read More <i class="fa fa-angle-right"></i></a>

                <hr>
			    {% endif %}
			    {% endfor %}

                <!-- Pager -->
                <!--ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul-->
            </div>
        </div>
        <!-- /.row -->

        <hr>
