<header class="site-header">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Navigazione</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{site.baseurl}}/it/index.html"><img class="navbar-logo" src="{{site.baseurl}}/img/coderbot_logo_79.png">CoderBot</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{site.baseurl}}/it/about.html">Cosa è</a>
                    </li>
                    <li>
                        <a href="{{site.baseurl}}/it/kit.html">Kit</a>
                    </li>
                    <li>
                        <a href="{{site.baseurl}}/it/how_to_build_it.html">Come costruirlo</a>
                    </li>
                    <li>
                        <a href="{{site.baseurl}}/it/projects.html">Gioca e Impara</a>
                    </li>
                    <li>
                        <a href="{{site.baseurl}}/it/contact.html">Contatti</a>
                    </li>
                    <li>
                        <a href="https://groups.google.com/forum/#!forum/coderbot-users" target="new">Forum</a>
                    </li>
                    <li>
                        <a href="{{site.baseurl}}/it/news.html">Novità</a>
                    </li>
                    <li>
                        <a href="{{site.baseurl}}/en/index.html">English</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</header>
