.ui-panel-closed {
  left: initial;
  overflow: initial;
  visibility: initial;
  clip: initial;
}
#gallery.ui-panel {
	width: 90%;
}
/* Animate class is added to panel, wrapper and fixed toolbars */
#gallery.ui-panel-animate {
	-webkit-transition: -webkit-transform 500ms ease;
	-webkit-transition-duration: 500ms;
	-moz-transition: -moz-transform 500ms ease;
	transition: transform 500ms ease;
}
/* Panel right closed */
#gallery.ui-panel-position-right {
	right: -90%;
}
/* Panel right closed animated */
#gallery.ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay,
#gallery.ui-panel-animate.ui-panel-position-right.ui-panel-display-push {
	right: 0;
	-webkit-transform: translate3d(100%,0,0);
	-moz-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
/* Panel right open */
#gallery.ui-panel-position-right.ui-panel-display-reveal, /* Unset "panel right closed" for reveal */
#gallery.ui-panel-position-right.ui-panel-open {
	right: 0;
}
/* Panel right open animated */
#gallery.ui-panel-animate.ui-panel-open.ui-panel-position-right.ui-panel-display-overlay,
#gallery.ui-panel-animate.ui-panel-open.ui-panel-position-right.ui-panel-display-push {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-moz-transform: none;
}
/* Panel right open */
#gallery.ui-panel-page-content-position-right {
	left: -90%;
	right: 90%;
}
/* Panel right open animated */
#gallery.ui-panel-animate.ui-panel-page-content-position-right {
	left: 0;
	right: 0;
	-webkit-transform: translate3d(-100%,0,0);
	-moz-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}
/* Dismiss model open */
#gallery.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
	left: 90%;
}
/* Dismiss model open */
.ui-panel-dismiss-open.ui-panel-dismiss-position-right {
	right: 90%;
}





.ui-content-stream {
background-image: url("/video/stream/SD");
background-repeat: no-repeat;
background-size: auto 100% !important;
background-position: center center;
/*
background-attachment: fixed;
padding:0px;
*/
}


.ui-btn-traslucent {
background:rgba(246,246,246,0.5) !important;
border-radius: 14em;
}
.ui-center {
text-align: center;
}


.ui-icon-cb-new:after {
	background-image: url("/css/images/icons-svg/cb-new.svg");
	background-size: 14px 14px;
}
/* Fallback */
.ui-nosvg .ui-icon-cb-new:after {
	background-image: url("/css/images/icons-png/cb-new.png");
}
.ui-icon-cb-load:after {
        background-image: url("/css/images/icons-svg/cb-load.svg");
        background-size: 16px 16px;
}
/* Fallback */
.ui-nosvg .ui-icon-cb-load:after {
        background-image: url("/css/images/icons-png/cb-load.png");
}
.ui-icon-cb-save:after {
        background-image: url("/css/images/icons-svg/cb-save.svg");
        background-size: 16px 16px;
}
/* Fallback */
.ui-nosvg .ui-icon-cb-save:after {
        background-image: url("/css/images/icons-png/cb-save.png");
}
.ui-icon-cb-copy:after {
        background-image: url("/css/images/icons-svg/cb-copy.svg");
        background-size: 14px 14px;
}
/* Fallback */
.ui-nosvg .ui-icon-cb-copy:after {
        background-image: url("/css/images/icons-png/cb-copy.png");
}
.ui-icon-cb-code:after {
        background-image: url("/css/images/icons-svg/cb-code.svg");
        background-size: 14px 14px;
}
/* Fallback */
.ui-nosvg .ui-icon-cb-code:after {
        background-image: url("/css/images/icons-png/cb-code.png");
}
.ui-icon-cb-run:after {
        background-image: url("/css/images/icons-svg/cb-run.svg");
        background-size: 14px 14px;
}
/* Fallback */
.ui-nosvg .ui-icon-cb-run:after {
        background-image: url("/css/images/icons-png/cb-run.png");
}
.ui-icon-cb-stop:after {
        background-image: url("/css/images/icons-svg/cb-stop.svg");
        background-size: 14px 14px;
}
/* Fallback */
.ui-nosvg .ui-icon-cb-stop:after {
        background-image: url("/css/images/icons-png/cb-stop.png");
}

