<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- Page Content -->
    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide" style="_width:100%; height:100%; _position:fixed; _top:0; _left:0;">
        <!-- Wrapper for slides -->
            <div class="item active">
                <div class="fill" style="background-image:url('../img/home_3.jpg');"></div>
				<!--div class="carousel-caption">
                    <h2>CoderBot<br>Un bot per imparare a programmare</h2>
                </div-->
            </div>
     </header>
    <!--div style="visibility:hidden; height:400px; width:100%;"></div-->
    <div class="container">
    {% include it/header.html %}
        {{ content }}
    {% include it/footer.html %}
    </div>
    <!-- /.container -->
  </body>  
</html>
