---
layout: it/default
---

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{page.title}}</h1>
                <ol class="breadcrumb">
                    <li><a href="{{site.baseurl}}/it/index.html">CoderBot</a>
                    <li><a href="{{site.baseurl}}/it/news.html">Blog</a>
                    </li>
                    <li class="active">{{page.title}}</li>
                </ol>
				<hr>
                <!-- Date/Time -->
                <p><i class="fa fa-clock-o"></i> Pubblicato il {{ page.date | date: "%d/%m/%Y" }} da {{page.author}} <i class="fa fa-tags"></i> {% for tag in page.tags %}<span class="label label-primary">{{tag}}</span> {%endfor%}</p>                				
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-12">
                <!-- Post Content -->
                <p class="lead">{{content}}</p>
        </div>  		<hr>
      <!-- /.row -->

        <hr>
