{% if pictures %}
  <script type="text/javascript">
    $(function() {
      /* Handle to remove a photo */
      $(".photobutton a").on("vclick", function(e) {
        $this = $(this);
        // Send data to server through the Ajax call
        $.getJSON($this.attr("href"), function(json){
          $(".photobutton[title='" + $this.attr('title') + "']").remove();
        });

        e.preventDefault();
        e.stopPropagation();
      });

      /* Handle taphold to hide/show delete buttons */
      $(".photobutton").on("taphold", function() {
          $(".photobutton a").fadeToggle();
          $(this).data("tapholdEvent", true);
      });
      $(".photobutton").on("vmouseout", function() {
          $(this).removeData("tapholdEvent");
      });

      /* Handle click to load image and show it in a popup */
      $(".photobutton").on("vclick", function(e) {
        var $this = $(this);
        if (e.type == "vclick" && $this.data("tapholdEvent")) {
          e.preventDefault();
          $this.removeData("tapholdEvent");
          return;
        };

        $.mobile.loading("show");
        $type = $this.attr("file-type");
        if ($type == "picture") {
          $("img", "#photopopup").attr("src", $this.attr("alt")).show();
          $("video", "#photopopup").attr("src", "").hide();
        } else {
          $("img", "#photopopup").attr("src", "").hide();
          $("video", "#photopopup").attr("src", $this.attr("alt")).show();
          $("#photopopup").popup("open", {transition: "pop"});
          return;
        }

        // Send data to server through the Ajax call
        $("#photopopup [src!='']").load(function(json){
          $.mobile.loading("hide");
          $("#photopopup").popup("open", {transition: "pop"});
        });
      });
    });
  </script>
  <style>
  </style>
  {% for filename, type in pictures %}
    <div title="{{ filename }}" file-type="{{ type }}" class="photobutton ui-btn ui-corner-all ui-shadow ui-btn-inline" alt="/camera/DCIM/{{ filename }}" style="position:relative;">
      <a href="/camera/DCIM/{{ filename }}?delete=True" title="{{ filename }}" style="display: none;" class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-right">{% trans %}Delete{% endtrans %}</a>
      <div style="width: 80px; height: 60px; line-height: 60px; overflow: hidden;">
        <img src="{% if type == 'picture' %}/camera/DCIM/{{ filename }}?thumb=True{% else %}/css/images/icons-png/video-black.png{% endif %}" style="vertical-align: middle;"></img>
      </div>
      <div style="max-width: 80px; overflow: hidden;">{{ filename }}</div>
    </div>
  {% endfor %}
{% else %}
  {% trans %}No image founds{% endtrans %}.
{% endif %}

