<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CoderBot{% endblock %}</title>
    <link rel="icon" type="image/png" href="/images/icons/coderbot_logo_79.png"/>
    <link rel="stylesheet" href="/css/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="/css/coderbot.css">
    <script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mobile-1.4.5.min.js"></script>
    {% block head %}
    {% endblock head %}
    <script type="text/javascript">
      // Helper for notify messages to user
      function notify(msg, cls="error") {
        $("<div class='"+cls+"'></div>").html(msg).appendTo("#notification")
          .fadeIn()
          .delay(5000)
          .fadeOut(function() {
            $(this).remove();
          });
      };

      // Helper function to validate a form
      // TODO : Could be in a global .js
      //  - Utiliser pattern pour specifier des types de donnees a valider.
      function validate (formElement, invalidMessage) {
        var isFormValid = true;

        // Required fields
        $("input.required", formElement).each(function(){
          if ($.trim($(this).val()).length == 0) {
            $(this).addClass("highlight");
            isFormValid = false;
          } else {
            $(this).removeClass("highlight");
          }
        });

        // Display messages in case of invalid input
        if (!isFormValid) {
          if (invalidMessage) { alert(invalidMessage); }
          else { alert("{% trans %}Please fill all necessary fields{% endtrans %}."); }
        }

        return isFormValid;
      }

      // Helper function to capitalize first letter of words in a string
      // TODO : Could be in a global .js
      String.prototype.ucFirst = function() {
        return this.toLowerCase().replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); });
      }


      $(function(){
        // Configure loader widget with defaults
        $(document).on("mobileinit", function(){
          $.mobile.loader.prototype.options.text = "{% trans %}Loading{% endtrans %}";
          $.mobile.loader.prototype.options.textVisible = true;
          $.mobile.loader.prototype.options.textOnly = false;
          $.mobile.loader.prototype.options.html = "";
        });

        // Configure Ajax default callbacks (start, complete, error)
        $(document).ajaxSend(function(){
          $.mobile.loading("show");
        });
        $(document).ajaxComplete(function(){
          $.mobile.loading("hide");
        });
        $(document).ajaxError(function(event, jqh, request, error){
          notify(error);
        });

      });

      $(function(){
        // Set the bot status check
        setInterval(function(){
          $.ajax({
            dataType: "json",
            url: "/bot/status",
            global: false,
            success: function(json) {
              if (json.status) {
                $("#a_bot_status").removeClass('ui-btn-b ui-icon-delete').addClass('ui-icon-check').html('{% trans %}Online{% endtrans %}');
              } else {
                $("#a_bot_status").addClass('ui-btn-b ui-icon-delete').removeClass('ui-icon-check').html('{% trans %}Offline{% endtrans %}');
              };
            },
            error: function() {
              $("#a_bot_status").addClass('ui-btn-b ui-icon-delete').removeClass('ui-icon-check').html('{% trans %}Offline{% endtrans %}');
            }
          });
        }, 5000);
      });

      $(function(){
        // Dynamically fill the list of users before popup opening
        $("#btnLogin").on('click', function() {
          $("#lstUsers").empty();
          $.getJSON('/user/list', function(json) {
            if (json.users) {
              $.each(json.users, function(i, user) {
                $("<li><a href='/user/login?username="+user+"' data-ajax='false'><span class='ui-icon-user ui-icon-big ui-btn-icon-left ui-icon-color"+(i%10)+"'>"+user.ucFirst()+"</span></a></li>").appendTo("#lstUsers");
              });
              $("#lstUsers").listview("refresh");
              $("#login").popup("open");
            } else {
              notify("{% trans %}Unable to get list of users{% endtrans %}.");
            }
          });
        });
      });

      {% block script %}
      {% endblock script %}
    </script>
    <style>
      .ui-icon-big:after {
        background-size: 20px;
        width: 32px;
        height: 32px;
        margin-top: -16px;
      }
      {% for i in range(0, 10) %}
        .ui-icon-color{{ i }}:after {
          background-color: hsl({{ (i*108)%360 }},100%,50%);
        }
      {% endfor %}
      .ui-notification-bar {
        position: absolute; /* TODO: Try to position at top of window, not top of page */
        top:    1em;
        left:   1em;
        /*right:  1em;*/
        /*text-align: center;*/
        z-index: 1003;
      }
      .ui-notification-bar > * {
        /*display: inline-block;*/
        padding: .3125em;
        -webkit-border-radius: .3125em;
        border-radius:         .3125em;
      }
      .ui-notification-bar > .error {
        background: rgba(255,0,0,0.3);
      }
      .ui-notification-bar > .info {
        background: rgba(255,255,0,0.3);
      }
      .ui-notification-bar > .success {
        background: rgba(0,255,0,0.3);
      }

      {% block style %}
      {% endblock style %}
    </style>
  </head>
  <body>
    <div data-role="page">
      <div id="notification" class="ui-notification-bar"></div>
      <div data-role="header">
        <h1>CoderBot</h1>
        <a href="#" id="a_bot_status" data-icon="check" class="s_bot_status ui-btn-left">{% trans %}Online{% endtrans %}</a>
        {% if session.username %}
          <a href="/user/logout" data-icon="user" class="ui-btn-right" data-ajax="false">{{ session.username|capitalize }}</a>
        {% else %}
          <a id="btnLogin" data-icon="user" class="ui-btn-right" data-theme="b" data-rel="popup" data-transition="pop" data-position-to="window">{% trans %}Login{% endtrans %}</a>
        {% endif %}
        <div data-role="navbar" data-iconpos="left">
          <ul>
            <li><a href="/control.html" {% if self|quoted|first == "control.html" %}class="ui-btn-active ui-state-persist" {% endif %}data-icon="eye" data-ajax="false">{% trans %}Control{% endtrans %}</a></li>
            <li><a href="/program.html" {% if self|quoted|first == "program.html" %}class="ui-btn-active ui-state-persist" {% endif %}data-icon="edit" data-ajax="false">{% trans %}Program{% endtrans %}</a></li>
            <li><a href="/preferences.html" {% if self|quoted|first == "preferences.html" %}class="ui-btn-active ui-state-persist" {% endif %}data-icon="gear" data-ajax="false">{% trans %}Preferences{% endtrans %}</a></li>
          </ul>
        </div>
      </div>
      {% block page %}{% endblock %}
      {% if not session.username %}
        <div id="login" data-role="popup" data-overlay-theme="a">
          <h3 class='ui-bar'>{% trans %}Please sign in{% endtrans %}</h3>
          <ul id="lstUsers" data-role="listview" data-ajax="false"></ul>
        </div>
      {% endif %}
    </div><!-- data-role="page" -->
    {% block body %}{% endblock %}
  </body>
</html>

