{% extends "main.html" %}
{% block title %}CoderBot v2.0{% endblock %}
{% block body %}
<script type="text/javascript">
  $(function(){
    /* Opening the panel on click/swap button tab */
    $('#gallery').on('panelopen', function(){
      $('#gallerycontent').load('gallery.html');
    });
    $("a[href='#gallery']").on({
      swipeleft: function(){
        $('#gallery').panel("open");
      },
      swiperight: function(){
        $('#gallery').panel("close");
      },
    });

    /* Auto resize of the popup on open */
    $("#photopopup").on({
      popupbeforeposition: function() {
        var maxHeight = $(window).height() - 60 + "px";
        $("#photopopup [src!='']").css( "max-height", maxHeight );
      }
    }).popup();
  });
</script>
<div data-role="page">
  <div data-role="panel" id="gallery" data-position="right" data-display="overlay">
    <a href="#gallery" class="ui-btn ui-corner-all ui-btn-icon-notext ui-icon-grid" style="position: absolute; left: -1.75em; top: 6em; height: 4em; border-radius: 1em 0 0 1em; border-right: medium none;">{% trans %}Photos{% endtrans %}</a>
    <div id="gallerycontent">
      <div class="ui-loading">
        <div class="ui-loader ui-corner-all ui-body-a ui-loader-verbose">
          <span class="ui-icon-loading"></span>
          <h1>{% trans %}Loading{% endtrans %}</h1>
        </div>
      </div>
    </div>
  </div>
  {% include "tabs.html" %}
  <div data-role="popup" id="photopopup" data-overlay-theme="a" data-corners="false" data-tolerance="30,15">
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">{% trans %}Close{% endtrans %}</a>
    <img src="" style="display: none;">
    <video src="" alt="Video" autoplay controls style="display: none;">
      Sorry, your browser does not support embedded videos.
    </video>
  </div>
</div>
{% endblock %}

