{% extends "index.html" %}
{% block title %}CoderBot v2.0 - Configuring{% endblock %}

{% block head %}
  <script type="text/javascript" src="/js/jquery.serialize-object.min.js"></script>
{% endblock head %}

<script type="text/javascript">
  {% block script %}

    {% if session.username == "admin" %}
      $(function(){
        // Helper function to fill listview of users
        function loadUserList () {
          $("#list_users").empty();
          $("<li data-icon='plus'><a href='#dlgAddUser' data-rel='popup' data-position-to='window' data-transition='pop')><span class='ui-icon-user ui-btn-icon-left ui-icon-big'>{% trans %}Add a new user{% endtrans %}</span></a></li>").appendTo("#list_users");
          $.getJSON('/user/list', function(json) {
            if (json.users) {
              $.each(json.users, function(i, user) {
                $("<li><a class='confirm'><span class='ui-icon-user ui-icon-big ui-btn-icon-left ui-icon-color"+(i%10)+"'>"+user.ucFirst()+"</span></a></li>")
                  .appendTo("#list_users")
                  .on('vclick', delUser);
              });
              $("#list_users").listview("refresh");
            } else {
              notify("{% trans %}Unable to get list of users{% endtrans %}.");
            }
          });
        };

        // Helper function to create new user
        function addUser (username) {
          $.getJSON("/user/add", {username: username}, function(json){
            if (json.result == true) {
              loadUserList();
            } else {
              notify("{% trans %}Unable to create user{% endtrans %} "+username+"."+(json.error?"\n"+json.error:""));
            }
          });
        };
        // Helper function to delete a user
        function delUser () {
          username = $(this).text();
          if (confirm("{% trans %}Do you really want to delete this user{% endtrans %} : "+username+" ?")) {
            $.getJSON("/user/del", {username: username}, function(json){
              if (json.result == true) {
                loadUserList();
              } else {
                notify("{% trans %}Unable to delete user{% endtrans %} "+username+"."+(json.error?"\n"+json.error:""));
              }
            });
          }
          return false;
        };

        // Load user list when page is loaded
        loadUserList();

        // Call useradd api facilities
        $("#frmAddUser").on('submit', function() {
          if (validate($("#frmAddUser"))) {
            $("#dlgAddUser").popup("close");
            addUser($("#iNewUsername").val());
          }
          return false;
        });

        // Automatic facilities

        $(".camera_resolutions_name").change(function(e) {
          $("#" + $(this).attr("for")).attr("name", "camera_resolutions["+$(this).val()+"]");
        });

        $("#use_servos").change(function() {
          if ($(this).val() == "true") {
            $("#servos_configuration").show();
            $("#motors_configuration").hide();
          } else {
            $("#servos_configuration").hide();
            $("#motors_configuration").show();
          }
        });

      });
    {% endif %}


    $(function(){
      // Advanced parameters accessibility
      {% if config.get('advanced_user', False) == False and session.username != "admin" %}
        $(".advanced").hide();
      {% endif %}
      {% if session.username != "admin" %}
        $("#advanced_user").change(function(e) {
          console.log($("#advanced_user").val());
          if ($("#advanced_user").val() == "true") { $(".advanced").show(); }
          else                                     { $(".advanced").hide(); }
        });
      {% endif %}

      // Form submit function
      $("#frmConfig").on('submit', function(e) {
        e.preventDefault();

        if (validate($("#frmConfig"))) {
          elements = $("#frmConfig :input")
            // Send only modified values
            .filter(function(){ return $(this).attr("value") !== $(this).val() && $(this).children("[selected]").attr("value") !== $(this).val(); })
          $.post("/config/save", {json: elements.serializeJSON()} , function(json){
            if (json.result) {
              elements.filter("input").each(function(i, elt){
                $(elt).attr("value", $(elt).val());
              });
              elements.filter("select").each(function(i, elt){
                $(elt).children("option[selected]").attr("selected", null);
                $(elt).children("option[value='"+$(elt).val()+"']").attr("selected", "");
              });
              elements.filter("textarea").each(function(i, elt){
                $(elt).html($(elt).val());
              });
            }
          });
        }
      });

    });
  {% endblock script %}
</script>
<style>
  {% block style %}
    .medium-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
        text-indent: -6em;
    }
    .medium-flipswitch.ui-flipswitch {
        width: 8.875em;
    }
    .medium-flipswitch.ui-flipswitch.ui-flipswitch-active {
        padding-left: 7em;
        width: 1.875em;
    }
    html .ui-field-contain > label + .medium-flipswitch.ui-flipswitch,
    html .ui-popup .ui-field-contain > label + .medium-flipswitch.ui-flipswitch {
        width: 8.875em;
    }
    .ui-field-contain .medium-flipswitch.ui-flipswitch.ui-flipswitch-active,
    .ui-popup .ui-field-contain .medium-flipswitch.ui-flipswitch.ui-flipswitch-active {
        width: 1.875em;
    }

    .ui-collapsible-set .ui-collapsible {
      margin: 0px;
    }
    .controlgroup-textinput {
      background-color: rgb(255,255,255) !important;
      padding-top:.28em;
      padding-bottom:.28em;
    }
  {% endblock style %}
</style>

{% block page %}
  <h5 style="text-align: center">Work in progress... Some parameters are disabled.</h5>
  <form id="frmConfig" action="/config/save" method="POST" data-ajax="false">
    <div data-role="collapsibleset" data-inset="false">
{% if session.username == 'admin' %}
      <fieldset data-role="collapsible" data-collapsed="false">
        <legend>{% trans %}Hardware{% endtrans %}</legend>

        <ul data-role="listview" data-inset="false">
          <li data-role="list-divider">{% trans %}Camera{% endtrans %}</li>
          <li>
            <div class="ui-field-contain">
              <label>{% trans %}Camera resolutions{% endtrans %}</label>
  {# Just a test, time to determine which is better #}
  {% if false %}
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <input class="camera_resolutions_name" for="camera_resolutions0" type="text" value="default" disabled="true" data-wrapper-class="controlgroup-textinput">
                </div>
                <div class="ui-block-b">
                  <select id="camera_resolutions0" name="camera_resolutions[default]" data-native-menu="false">
                    <option value="[1296,972]"{% if config.camera_resolutions['default'] == [1296,972] %} selected{% endif %}>1296x972</option>
                    <option value="[1024,768]"{% if config.camera_resolutions['default'] == [1024,768] %} selected{% endif %}>1024x768</option>
                    <option value="[640,480]"{% if config.camera_resolutions['default'] == [640,480] %} selected{% endif %}>640x480</option>
                    <option value="[320,240]"{% if config.camera_resolutions['default'] == [320,240] %} selected{% endif %}>320x240</option>
                    <option value="[160,120]"{% if config.camera_resolutions['default'] == [160,120] %} selected{% endif %}>160x120</option>
                  </select>
                </div>
                <div class="ui-block-a">
                  <input class="camera_resolutions_name" for="camera_resolutions1" type="text" value="{{ config.camera_resolutions.keys[1] }}" disabled="true" data-wrapper-class="controlgroup-textinput">
                </div>
                <div class="ui-block-b">
                  <select id="camera_resolutions1" name="camera_resolutions[SD]" data-native-menu="false">
                    <option value="[1296,972]"{% if config.camera_resolutions['SD'] == [1296,972] %} selected{% endif %}>1296x972</option>
                    <option value="[1024,768]"{% if config.camera_resolutions['SD'] == [1024,768] %} selected{% endif %}>1024x768</option>
                    <option value="[640,480]"{% if config.camera_resolutions['SD'] == [640,480] %} selected{% endif %}>640x480</option>
                    <option value="[320,240]"{% if config.camera_resolutions['SD'] == [320,240] %} selected{% endif %}>320x240</option>
                    <option value="[160,120]"{% if config.camera_resolutions['SD'] == [160,120] %} selected{% endif %}>160x120</option>
                  </select>
                </div>
                <div class="ui-block-a">
                  <input class="camera_resolutions_name" for="camera_resolutions2" type="text" value="{{ config.camera_resolutions.keys[2] }}" disabled="true" data-wrapper-class="controlgroup-textinput">
                </div>
                <div class="ui-block-b">
                  <select id="camera_resolutions2" name="camera_resolutions[LD]" data-native-menu="false">
                    <option value="[1296,972]"{% if config.camera_resolutions['LD'] == [1296,972] %} selected{% endif %}>1296x972</option>
                    <option value="[1024,768]"{% if config.camera_resolutions['LD'] == [1024,768] %} selected{% endif %}>1024x768</option>
                    <option value="[640,480]"{% if config.camera_resolutions['LD'] == [640,480] %} selected{% endif %}>640x480</option>
                    <option value="[320,240]"{% if config.camera_resolutions['LD'] == [320,240] %} selected{% endif %}>320x240</option>
                    <option value="[160,120]"{% if config.camera_resolutions['LD'] == [160,120] %} selected{% endif %}>160x120</option>
                  </select>
                </div>
              </div>
  {% else %}
              <div class="ui-grid-solo">
                <div class="ui-block-a">
                  <div data-role="controlgroup" data-type="horizontal">
                    <input class="camera_resolutions_name" for="camera_resolutions0" type="text" value="default" disabled="true" data-wrapper-class="controlgroup-textinput ui-btn">
                    <select id="camera_resolutions0" name="camera_resolutions[default]" data-native-menu="false">
                      <option value="[1296,972]"{% if config.camera_resolutions['default'] == [1296,972] %} selected{% endif %}>1296x972</option>
                      <option value="[1024,768]"{% if config.camera_resolutions['default'] == [1024,768] %} selected{% endif %}>1024x768</option>
                      <option value="[640,480]"{% if config.camera_resolutions['default'] == [640,480] %} selected{% endif %}>640x480</option>
                      <option value="[320,240]"{% if config.camera_resolutions['default'] == [320,240] %} selected{% endif %}>320x240</option>
                      <option value="[160,120]"{% if config.camera_resolutions['default'] == [160,120] %} selected{% endif %}>160x120</option>
                    </select>
                  </div>
                </div>
                <div class="ui-block-a">
                  <div data-role="controlgroup" data-type="horizontal">
                    <input class="camera_resolutions_name" for="camera_resolutions1" type="text" value="SD" disabled="true" data-wrapper-class="controlgroup-textinput ui-btn">
                    <select id="camera_resolutions1" name="camera_resolutions[SD]" data-native-menu="false">
                      <option value="[1296,972]"{% if config.camera_resolutions['SD'] == [1296,972] %} selected{% endif %}>1296x972</option>
                      <option value="[1024,768]"{% if config.camera_resolutions['SD'] == [1024,768] %} selected{% endif %}>1024x768</option>
                      <option value="[640,480]"{% if config.camera_resolutions['SD'] == [640,480] %} selected{% endif %}>640x480</option>
                      <option value="[320,240]"{% if config.camera_resolutions['SD'] == [320,240] %} selected{% endif %}>320x240</option>
                      <option value="[160,120]"{% if config.camera_resolutions['SD'] == [160,120] %} selected{% endif %}>160x120</option>
                    </select>
                  </div>
                </div>
                <div class="ui-block-a">
                  <div data-role="controlgroup" data-type="horizontal">
                    <input class="camera_resolutions_name" for="camera_resolutions2" type="text" value="LD" disabled="true" data-wrapper-class="controlgroup-textinput ui-btn">
                    <select id="camera_resolutions2" name="camera_resolutions[LD]" data-native-menu="false">
                      <option value="[1296,972]"{% if config.camera_resolutions['LD'] == [1296,972] %} selected{% endif %}>1296x972</option>
                      <option value="[1024,768]"{% if config.camera_resolutions['LD'] == [1024,768] %} selected{% endif %}>1024x768</option>
                      <option value="[640,480]"{% if config.camera_resolutions['LD'] == [640,480] %} selected{% endif %}>640x480</option>
                      <option value="[320,240]"{% if config.camera_resolutions['LD'] == [320,240] %} selected{% endif %}>320x240</option>
                      <option value="[160,120]"{% if config.camera_resolutions['LD'] == [160,120] %} selected{% endif %}>160x120</option>
                    </select>
                  </div>
                </div>
              </div>
  {% endif %}
            </div>
            <div class="ui-field-contain">
              <label for="camera_framerate">{% trans %}framerate{% endtrans %}</label>
              <input id="camera_framerate" name="camera_framerate" min="1" max="90" value="{{ config.get('camera_framerate', 30) }}" type="range" data-highlight="true">
            </div>
            <div class="ui-field-contain">
              <label for="exposure_mode">{% trans %}Exposure mode{% endtrans %}</label>
              <select disabled="true" id="exposure_mode" data-native-menu="false">
                <option>{% trans %}Auto{% endtrans %}</option>
                <option>{% trans %}Sports{% endtrans %}</option>
                <option>{% trans %}Night{% endtrans %}</option>
                <option>{% trans %}Snow{% endtrans %}</option>
                <option>{% trans %}Beach{% endtrans %}</option>
                <option>{% trans %}Fireworks{% endtrans %}</option>
                <option>{% trans %}Fixed FPS{% endtrans %}</option>
                <option>{% trans %}Anti shake{% endtrans %}</option>
                <option>{% trans %}Very long{% endtrans %}</option>
              </select>
            </div>
            <div class="ui-field-contain">
              <label for="awb_mode">{% trans %}AWB Mode{% endtrans %}</label>
              <select disabled="true" id="awb_mode" data-native-menu="false">
                <option>{% trans %}Auto{% endtrans %}</option>
                <option>{% trans %}Sunlight{% endtrans %}</option>
                <option>{% trans %}Cloudy{% endtrans %}</option>
                <option>{% trans %}Shade{% endtrans %}</option>
                <option>{% trans %}Tungsten{% endtrans %}</option>
                <option>{% trans %}Fluorescent{% endtrans %}</option>
                <option>{% trans %}Incandescent{% endtrans %}</option>
                <option>{% trans %}Flash{% endtrans %}</option>
                <option>{% trans %}Horizon{% endtrans %}</option>
              </select>
            </div>
            <div class="ui-field-contain">
              <label for="jpeg_quality">{% trans %}Jpeg quality{% endtrans %}</label>
              <input disabled="true" id="jpeg_quality" min="0" max="100" value="85" type="range" data-highlight="true">
            </div>
          </li>

          <li data-role="list-divider">{% trans %}Motors{% endtrans %}</li>
          <li>
            <div class="ui-field-contain">
              <label for="use_servos">{% trans %}Use servos{% endtrans %}</label>
              <select id="use_servos" name="use_servos" data-role="flipswitch">
                <option value="false"{% if config.get('use_servos', True) == False %} selected{% endif %}>{% trans %}No{% endtrans %}</option>
                <option value="true"{% if config.get('use_servos', True) == True %} selected{% endif %}>{% trans %}Yes{% endtrans %}</option>
              </select>
            </div>
            <div id="servos_configuration">
              <div class="ui-field-contain">
                <label for="pin_servo_left">{% trans %}PIN for left servo{% endtrans %}</label>
                <input id="pin_servo_left" name="pin_servo_left" pattern="[0-9]*" value="{{ config.get('pin_servo_left', 25) }}" placeholder="{% trans %}PIN for left servo{% endtrans %}">
              </div>
              <div class="ui-field-contain">
                <label for="pin_servo_right">{% trans %}PIN for right servo{% endtrans %}</label>
                <input id="pin_servo_right" name="pin_servo_right" pattern="[0-9]*" value="{{ config.get('pin_servo_right', 4) }}" placeholder="{% trans %}PIN for right servo{% endtrans %}">
              </div>
            </div>
            <div id="motors_configuration" style="display: none;">
              <div class="ui-field-contain">
                <label for="PWM_frequency">{% trans %}PWM frequency{% endtrans %}</label>
                <input id="PWM_frequency" name="PWM_frequency" pattern="[0-9]*" value="{{ config.get('PWM_frequency', 100) }}" placeholder="{% trans %}PWM frequency{% endtrans %}">
              </div>
              <div class="ui-field-contain">
                <label for="pin_enable_motor">{% trans %}PIN for motors enabled{% endtrans %}</label>
                <input id="pin_enable_motor" name="pin_enable_motor" pattern="[0-9]*" value="{{ config.get('pin_enable_motor', 22) }}" placeholder="{% trans %}PIN for motors enabled{% endtrans %}">
              </div>
              <div class="ui-field-contain">
                <label for="pin_motor_left_forward">{% trans %}PIN for left forward motor{% endtrans %}</label>
                <input id="pin_motor_left_forward" name="pin_motor_left_forward" pattern="[0-9]*" value="{{ config.get('pin_motor_left_forward', 25) }}" placeholder="{% trans %}PIN for left forward motor{% endtrans %}">
              </div>
              <div class="ui-field-contain">
                <label for="pin_motor_left_backward">{% trans %}PIN for left backward motor{% endtrans %}</label>
                <input id="pin_motor_left_backward" name="pin_motor_left_backward" pattern="[0-9]*" value="{{ config.get('pin_motor_left_backward', 24) }}" placeholder="{% trans %}PIN for left backward motor{% endtrans %}">
              </div>
              <div class="ui-field-contain">
                <label for="pin_motor_right_forward">{% trans %}PIN for right forward motor{% endtrans %}</label>
                <input id="pin_motor_right_forward" name="pin_motor_right_forward" pattern="[0-9]*" value="{{ config.get('pin_motor_right_forward', 4) }}" placeholder="{% trans %}PIN for right forward motor{% endtrans %}">
              </div>
              <div class="ui-field-contain">
                <label for="pin_motor_right_backward">{% trans %}PIN for right backward motor{% endtrans %}</label>
                <input id="pin_motor_right_backward" name="pin_motor_right_backward" pattern="[0-9]*" value="{{ config.get('pin_motor_right_backward', 17) }}" placeholder="{% trans %}PIN for right backward motor{% endtrans %}">
              </div>
            </div>
          </li>

          <li data-role="list-divider">{% trans %}Sensors{% endtrans %}</li>
          <li>
            <div class="ui-field-contain">
              <button>{% trans %}Add new sensor{% endtrans %}</button>
            </div>
            <div class="ui-field-contain">
              <label>{% trans %}Sensors{% endtrans %}</label>
              <div data-role="controlgroup" data-type="horizontal">
                <input disabled="true" placeholder="Name" data-wrapper-class="controlgroup-textinput ui-btn" />
                <select disabled="true" data-native-menu="false">
                  <option>In</option>
                  <option>Out</option>
                  <option>PWM</option>
                  <option>Servo</option>
                </select>
                <input disabled="true" placeholder="Pin" data-wrapper-class="controlgroup-textinput ui-btn" />
                <button disabled="true" data-iconpos="notext" data-icon="delete">delete</button>
              </div>
            </div>
          </li>
        </ul>
      </fieldset>

      <fieldset data-role="collapsible">
        <legend>{% trans %}System{% endtrans %}</legend>
        <ul data-role="listview" data-inset="false">
          <li data-role="list-divider">{% trans %}User Interface parameters{% endtrans %}</li>
          <li>
            <div class="ui-field-contain">
              <label for="listen_port">{% trans %}Listen port for connexion{% endtrans %}</label>
              <input id="listen_port" name="listen_port" pattern="[0-9]*" value="{{ config.get('listen_port', 8080) }}" placeholder="{% trans %}User interface port to listen{% endtrans %}">
            </div>
          </li>
          <li data-role="list-divider">{% trans %}Program to launch at startup{% endtrans %}</li>
          <li>
            <div class="ui-field-contain">
              <label for="program_launch_at_start">{% trans %}Program name{% endtrans %}</label>
              <input disabled="true" id="program_launch_at_start" placeholder="{% trans %}Program name{% endtrans %}">
            </div>
          </li>
          <li data-role="list-divider">{% trans %}System commands{% endtrans %}</li>
          <li>
            <div class="ui-field-contain">
              <label for="speech_command">{% trans %}Speech synthesis{% endtrans %}</label>
              <input disabled="true" id="speech_command" placeholder="{% trans %}Speech synthesis{% endtrans %}">
            </div>
            <div class="ui-field-contain">
              <label for="sound_player_command">{% trans %}Sound player{% endtrans %}</label>
              <input disabled="true" id="sound_player_command" placeholder="{% trans %}Sound player{% endtrans %}">
            </div>
          </li>
          <li data-role="list-divider">{% trans %}Speech synthesis{% endtrans %}</li>
          <li>
            <div class="ui-field-contain">
              <label for="useMbrola">{% trans %}Use mBrola{% endtrans %}</label>
              <select id="useMbrola" name="useMbrola" data-role="flipswitch">
                <option value="false"{% if config.get('useMbrola', True) == False %} selected{% endif %}>{% trans %}No{% endtrans %}</option>
                <option value="true"{% if config.get('useMbrola', True) == True %} selected{% endif %}>{% trans %}Yes{% endtrans %}</option>
              </select>
            </div>
          </li>
          <li data-role="list-divider">{% trans %}Restart/Halt{% endtrans %}</li>
          <li>
            <div class="ui-grid-c">
              <div class="ui-block-a"><button disabled="true">{% trans %}Halt{% endtrans %}</button></div>
              <div class="ui-block-b"><button disabled="true">{% trans %}Restart{% endtrans %}</button></div>
              <div class="ui-block-c"><button disabled="true">{% trans %}Reboot{% endtrans %}</button></div>
              <div class="ui-block-d"><button disabled="true">{% trans %}Update{% endtrans %}</button></div>
            </div>
          </li>
        </ul>
      </fieldset>

      <fieldset data-role="collapsible">
        <legend>{% trans %}Wifi{% endtrans %}</legend>
        <ul data-role="listview" data-inset="false">
          <li data-role="list-divider">{% trans %}Wifi parameters{% endtrans %}</li>
          <li>
            <div class="ui-field-contain">
              <label>{% trans %}SSID{% endtrans %}</label>
              <input disabled="true" placeholder="{% trans %}SSID{% endtrans %}">
            </div>
            <div class="ui-field-contain">
              <label>{% trans %}keypass{% endtrans %}</label>
              <input disabled="true" placeholder="{% trans %}keypass{% endtrans %}">
            </div>
          </li>
          <li data-role="list-divider">{% trans %}IP parameters{% endtrans %}</li>
          <li>
            <div class="ui-field-contain">
              <label>{% trans %}DHCP{% endtrans %}</label>
              <input disabled="true" type="checkbox" data-role="flipswitch">
            </div>
            <div class="ui-field-contain">
              <label>{% trans %}IP{% endtrans %}</label>
              <input disabled="true" placeholder="{% trans %}IP{% endtrans %}">
            </div>
            <div class="ui-field-contain">
              <label>{% trans %}Subnet{% endtrans %}</label>
              <input disabled="true" placeholder="{% trans %}Subnet{% endtrans %}">
            </div>
            <div class="ui-field-contain">
              <label>{% trans %}Gateway{% endtrans %}</label>
              <input disabled="true" placeholder="{% trans %}Gateway{% endtrans %}">
            </div>
            <div class="ui-field-contain">
              <label>{% trans %}DNS{% endtrans %}</label>
              <input disabled="true" placeholder="{% trans %}DNS{% endtrans %}">
            </div>
          </li>
        </ul>
      </fieldset>
{% endif %}

      <fieldset data-role="collapsible" {% if not session.username == 'admin' %}data-collapsed="false"{% endif %}>
        <legend>{% trans %}Profil{% endtrans %}</legend>
        <ul data-role="listview" data-inset="false">
{% if session.username == 'admin' %}
          <li data-role="list-divider">{% trans %}Users{% endtrans %}</li>
          <li>
            <div class="ui-field-contain">
              <label for="config_path">{% trans %}Profils path{% endtrans %}</label>
              <input id="config_path" name="config_path" value="{{ config.get('config_path', '.') }}" placeholder="{% trans %}Path of user profils{% endtrans %}">
            </div>
            <div class="ui-field-contain">
              <label for="config_path">{% trans %}Users{% endtrans %}</label>
              <ul id="list_users" data-role="listview" data-icon="delete" data-inset="true"></ul>
            </div>
          </li>
          <li data-role="list-divider">{% trans %}Profil of all users and guest user (without login){% endtrans %}</li>
{% else %}
          <li data-role="list-divider">{% trans %}Personal profil{% endtrans %}</li>
{% endif %}
          <li>
            <div class="ui-field-contain">
              <label for="advanced_user">{% trans %}Configuration mode{% endtrans %}</label>
              <select id="advanced_user" name="advanced_user" data-role="flipswitch" data-wrapper-class="medium-flipswitch">
                <option value="false"{% if config.get('advanced_user', False) == False %} selected{% endif %}>{% trans %}standard{% endtrans %}</option>
                <option value="true"{% if config.get('advanced_user', False) == True %} selected{% endif %}>{% trans %}advanced{% endtrans %}</option>
              </select>
            </div>
            <div class="ui-field-contain">
              <label for="editor_level">{% trans %}Programming level{% endtrans %}</label>
              <select id="editor_level" name="editor_level" data-native-menu="false">
                <option value="basic_move"{% if config.get('editor_level', 'basic_move') == 'basic_move' %} selected{% endif %}>{% trans %}Move{% endtrans %}</option>
                <option value="basic"{% if config.get('editor_level', 'basic_move') == 'basic' %} selected{% endif %}>{% trans %}Basic{% endtrans %}</option>
                <option value="std"{% if config.get('editor_level', 'basic_move') == 'std' %} selected{% endif %}>{% trans %}Standard{% endtrans %}</option>
                <option value="adv"{% if config.get('editor_level', 'basic_move') == 'adv' %} selected{% endif %}>{% trans %}Advanced{% endtrans %}</option>
              </select>
            </div>
          </li>
          <li data-role="list-divider" class="advanced">{% trans %}Storage path{% endtrans %}</li>
          <li class="advanced">
            <div class="ui-field-contain">
              <label for="record_path">{% trans %}Pictures and videos{% endtrans %}</label>
              <input id="record_path" name="record_path" value="{{ config.get('record_path', 'DCIM') }}" placeholder="{% trans %}Path of recorded images and videos{% endtrans %}">
            </div>
            <div class="ui-field-contain">
              <label for="program_path">{% trans %}Programs{% endtrans %}</label>
              <input id="program_path" name="program_path" value="{{ config.get('program_path', 'data') }}" placeholder="{% trans %}Path for save program to{% endtrans %}">
            </div>
            <div class="ui-field-contain">
              <label for="program_extension">{% trans %}Programs extension{% endtrans %}</label>
              <input id="program_extension" name="program_extension" value="{{ config.get('program_extension', 'bot') }}" placeholder="{% trans %}Extension for program files{% endtrans %}">
            </div>
          </li>
        </ul>
      </fieldset>

      <fieldset data-role="collapsible">
        <legend>{% trans %}User interface{% endtrans %}</legend>
        <ul data-role="listview" data-inset="false">
          <li data-role="list-divider" class="advanced">{% trans %}UI's element visibility{% endtrans %}</li>
          <li class="advanced">
            <div class="ui-field-contain">
              <label>{% trans %}Show control page{% endtrans %}</label>
              <input disabled="true" type="checkbox" data-role="flipswitch">
            </div>
            <div class="ui-field-contain">
              <label>{% trans %}Show program page{% endtrans %}</label>
              <input disabled="true" type="checkbox" data-role="flipswitch">
            </div>
            <div class="ui-field-contain">
              <label>{% trans %}Show preferences page{% endtrans %}</label>
              <input disabled="true" type="checkbox" data-role="flipswitch">
            </div>
          </li>
          <li data-role="list-divider">{% trans %}Control page{% endtrans %}</li>
          <li>
            <div class="ui-field-contain advanced">
              <label>{% trans %}Show movement commands{% endtrans %}</label>
              <input disabled="true" type="checkbox" data-role="flipswitch">
            </div>
            <div class="ui-field-contain">
              <label>{% trans %}Show counter of moves{% endtrans %}</label>
              <input disabled="true" type="checkbox" data-role="flipswitch">
            </div>
            <div class="ui-field-contain">
              <label>{% trans %}HUD Image{% endtrans %}</label>
              <input disabled="true" placeholder="{% trans %}HUD Image{% endtrans %}">
            </div>
            <div class="ui-field-contain advanced">
              <label for="jpeg_quality">{% trans %}Streaming framerate{% endtrans %}</label>
              <input disabled="true" id="jpeg_quality" min="1" max="10" value="10" type="range" data-highlight="true">
            </div>
          </li>
          <li data-role="list-divider" class="advanced">{% trans %}Program page{% endtrans %}</li>
          <li class="advanced">
            <div class="ui-field-contain">
              <label>{% trans %}Show scrollbars{% endtrans %}</label>
              <input disabled="true" type="checkbox" data-role="flipswitch">
            </div>
            <div class="ui-field-contain">
              <label>{% trans %}Auto save program{% endtrans %}</label>
              <input disabled="true" type="checkbox" data-role="flipswitch">
            </div>
            <div class="ui-field-contain">
              <label>{% trans %}Max number of blocks{% endtrans %}</label>
              <input disabled="true" placeholder="{% trans %}Max number of blocks{% endtrans %}">
            </div>
            <div class="ui-field-contain">
              <label for="jpeg_quality">{% trans %}Streaming framerate{% endtrans %}</label>
              <input disabled="true" id="jpeg_quality" min="1" max="10" value="10" type="range" data-highlight="true">
            </div>
          </li>
        </ul>
      </fieldset>

      <fieldset data-role="collapsible" class="advanced">
        <legend>{% trans %}Movements{% endtrans %}</legend>
        <ul data-role="listview" data-inset="false">
          <li>
            <div class="ui-field-contain">
              <label>{% trans %}Camera assisted moves{% endtrans %}</label>
              <input disabled="true" type="checkbox" data-role="flipswitch">
            </div>
          </li>
          <li data-role="list-divider">{% trans %}Simple move blocks parameters{% endtrans %}</li>
          <li>
            <div class="ui-field-contain">
              <label>{% trans %}Move speed{% endtrans %}</label>
              <input name="default_speed_move" placeholder="{% trans %}Move speed{% endtrans %}">
            </div>
            <div class="ui-field-contain">
              <label>{% trans %}Move time{% endtrans %}</label>
              <input name="default_elapse_move" placeholder="{% trans %}Move time{% endtrans %}">
            </div>
            <div class="ui-field-contain">
              <label>{% trans %}Turn speed{% endtrans %}</label>
              <input name="default_speed_turn" placeholder="{% trans %}Turn speed{% endtrans %}">
            </div>
            <div class="ui-field-contain">
              <label>{% trans %}Turn time{% endtrans %}</label>
              <input name="default_elapse_turn" placeholder="{% trans %}Turn time{% endtrans %}">
            </div>
          </li>
          <li data-role="list-divider">{% trans %}Camera assisted move blocks parameters{% endtrans %}</li>
          <li>
            <div class="ui-field-contain">
              <label>{% trans %}Move speed{% endtrans %}</label>
              <input name="default_speed_motion_move" placeholder="{% trans %}Move speed{% endtrans %}">
            </div>
            <div class="ui-field-contain">
              <label>{% trans %}Move distance{% endtrans %}</label>
              <input name="default_distance_motion_move" placeholder="{% trans %}Move time{% endtrans %}">
            </div>
            <div class="ui-field-contain">
              <label>{% trans %}Turn speed{% endtrans %}</label>
              <input name="default_speed_motion_turn" placeholder="{% trans %}Turn speed{% endtrans %}">
            </div>
            <div class="ui-field-contain">
              <label>{% trans %}Turn angle{% endtrans %}</label>
              <input name="default_angle_motion_turn" placeholder="{% trans %}Turn time{% endtrans %}">
            </div>
          </li>
        </ul>
      </fieldset>

      <fieldset data-role="collapsible">
        <legend>{% trans %}Sounds and Camera{% endtrans %}</legend>
        <ul data-role="listview" data-inset="false">
          <li data-role="list-divider">{% trans %}Sounds{% endtrans %}</li>
          <li>
            <div class="ui-field-contain">
              <label>{% trans %}When startup{% endtrans %}</label>
              <input disabled="true" placeholder="{% trans %}Sound path{% endtrans %}">
            </div>
            <div class="ui-field-contain">
              <label>{% trans %}When shutdown{% endtrans %}</label>
              <input disabled="true" placeholder="{% trans %}Sound path{% endtrans %}">
            </div>
            <div class="ui-field-contain">
              <label>{% trans %}When shutter{% endtrans %}</label>
              <input disabled="true" placeholder="{% trans %}Sound path{% endtrans %}">
            </div>
          </li>
          <li data-role="list-divider">{% trans %}Camera{% endtrans %}</li>
          <li>
            <div class="ui-field-contain">
              <label>{% trans %}Auto record video on program run{% endtrans %}</label>
              <input disabled="true" type="checkbox" data-role="flipswitch">
            </div>
          </li>
        </ul>
      </fieldset>

      <fieldset data-role="collapsible" class="advanced">
        <legend>{% trans %}Detections parameters{% endtrans %}</legend>
        <ul data-role="listview" data-inset="false">
          <li>
            <div class="ui-field-contain">
              <label>{% trans %}Draw detection on streaming images{% endtrans %}</label>
              <input disabled="true" type="checkbox" data-role="flipswitch">
            </div>
          </li>
          <li data-role="list-divider">{% trans %}Path detection{% endtrans %}</li>
          <li>
            <div class="ui-field-contain">
              <label>{% trans %}Min size{% endtrans %}</label>
              <input disabled="true" placeholder="{% trans %}Min size{% endtrans %}">
            </div>
            <div class="ui-field-contain">
              <label>{% trans %}Max size{% endtrans %}</label>
              <input disabled="true" placeholder="{% trans %}Max size{% endtrans %}">
            </div>
          </li>
          <li data-role="list-divider">{% trans %}Color detection{% endtrans %}</li>
          <li>
            <div class="ui-field-contain">
              <label>{% trans %}Min size{% endtrans %}</label>
              <input disabled="true" placeholder="{% trans %}Min size{% endtrans %}">
            </div>
            <div class="ui-field-contain">
              <label>{% trans %}Max size{% endtrans %}</label>
              <input disabled="true" placeholder="{% trans %}Max size{% endtrans %}">
            </div>
          </li>
        </ul>
      </fieldset>


    </div>
    <div class="ui-grid-a">
      <div class="ui-block-a"><button type="reset">{% trans %}Cancel{% endtrans %}</button></div>
      <div class="ui-block-b"><button type="submit">{% trans %}Save{% endtrans %}</button></div>
    </div>
  </form>

  <div data-role="popup" id="dlgAddUser" data-overlay-theme="a" class="ui-corner-all">
    <form id="frmAddUser" data-ajax="false">
      <div style="padding:10px 20px;">
        <h3>{% trans %}Add a new user{% endtrans %}</h3>
        <label for="iNewUsername" class="ui-hidden-accessible">{% trans %}User name{% endtrans %}:</label>
        <input id="iNewUsername" type="text" name="username" value="" placeholder="{% trans %}User name{% endtrans %}" class="required">
        <fieldset class="ui-grid-a">
          <div class="ui-block-a"><input type="button" data-rel="back" data-icon="delete" value="{% trans %}Cancel{% endtrans %}" /></div>
          <div class="ui-block-b"><input type="submit" data-icon="check" value="{% trans %}Create{% endtrans %}" /></div>
        </fieldset>
      </div>
    </form>
  </div>
{% endblock %}

