<div data-role="header" style="border-style: unset;">
  <h1>CoderBot</h1>
  <a href="#" id="a_bot_status" data-icon="check" class="s_bot_status ui-btn-right">Online</a>
  <div data-role="tabs" style="padding: 0px;">
    <div data-role="navbar" data-iconpos="left">
      <ul>
        <li><a href="control.html" class="ui-btn-active" data-icon="eye" data-ajax="false">{% trans %}Control{% endtrans %}</a></li>
        <li><a href="program.html" data-icon="edit" data-ajax="false">{% trans %}Program{% endtrans %}</a></li>
        <li><a href="preferences.html" data-icon="gear" data-ajax="false">{% trans %}Preferences{% endtrans %}</a></li>
      </ul>
    </div>
  </div>
</div>
